.btn-primary {
  background-color: white;
  width: 181px;
  padding: 1rem;
  border-radius: 50px 50px;
  border: 1px solid #707070;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.btn-secondary {
  background-color: #dadbe6;
  width: 181px;
  padding: 1rem;
  border-radius: 50px 50px;
  border: 1px solid #707070;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
